@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Zilla+Slab&display=swap');

body{
    background-color: antiquewhite;
    /* background-color: rgb(230, 127, 168); */
    /* background-image: url(side.jpg); */
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Nunito Sans', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.btn{
    padding: 8px 8px;
    border-radius: 10px;
    color: white;
    /* background-color: rgb(217, 222, 205); */
    background-color: rgb(16, 16, 15);
    /* font-weight: bold; */
    /* font-size: 2em; */
    margin: 3px 3px;
    cursor: pointer;
    }
    

.brand img{
    width: 64px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    /* min-height: 72vh; */
    /* min-height: 58px; */
    min-height: 54vh;
    background-color: black;
    color: white;
    font-family: 'Zilla Slab', serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.webp');
}

.bottom{
    position: sticky;
    /* height: 130px; */
    height: 82px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 13px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    /* text-align: center; */
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    /* width: 80%; */
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    /* cursor: pointer; */
}


.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

ul li{
    cursor: pointer;
    
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Zilla Slab', serif;

}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

/* @media only screen and (max-width: 1100px){
    body{
        background-color: red;
    }
} */